body {
  background-color: hsl(209, 100%, 91%);
}

#game-header {
  text-align: center;
  margin-top: 50px
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 150%;
  letter-spacing: 8px;
}

.char-image {
  width: 100%;
  overflow: hidden;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

#character-select {
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 80px auto auto;
  justify-content: space-around;
  align-content: center;
  margin-top: 15px;
}

.char {
  position: relative;
}

.char:hover .char-name{
    opacity: 1;    
}

.char-name {
    position: absolute;
    bottom: 0;
    width: 100%;   
    opacity: 0;   
    transition: opacity .2s ease-in-out;
}

.char-stats {
    position: absolute;
    bottom: 0;
    width: 100%; 
}

.stats-id {
    font-size: 15px;
}

.stats {
    font-size: 22px;
}

.char-text {
    height: 30px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: hsla(209, 100%, 100%, 0.8);
    background-color: hsla(209, 100%, 5%, 0.7);
    border-radius: 10px;
}

.select-header {
  grid-column: 1 / 4;
  justify-self: center;
  align-self: center;
  object-fit: contain;
}

h2 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 10px;
  text-align: center;
}

#game-container {
  display: none;
  margin: 0 auto;
  max-width: 300px;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 50px;
  justify-content: center;
  align-content: center;
  grid-gap: 15px;
  margin-top: 15px;
}

#player-character,
#opponent-character {
    display: none;
    grid-template-columns: auto;
    grid-template-rows: 30px 260px;
    justify-content: center;
    align-content: center;
}

#player-character {
    margin-top: 30px;
    margin-bottom: 25px;
}

.gameMiddle {
    width: 100%;
}

#attack {
  width: 100%;
  margin-bottom: 10px;
  background-color:hsl(209, 100%, 10%);
  opacity: 0.7;
	border:2px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
	font-size:20px;
	padding:15px 61px;
	text-decoration:none;
	text-shadow:0px 1px 2px #000000;
}

#player-hp,
#opponent-hp {
    transition: color 0.1s ease-in-out;
}

.logText {
    margin-top: 15px;
}

.footer{
    max-width: 750px;
    margin:0 auto;
    margin-top: 100px;
}

h3{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration-line: none;
    color: #38007F;
}

.new-game-screen {
    display:none;
    margin: 0 auto;
    max-width: 300px;
    margin-top: 75px;
}

#win-loss-text {
    text-align: center;
    margin-bottom: 25px;
}

#new-game {
    width: 100%;
    margin-bottom: 10px;
    background-color:transparent;
	  border:2px solid #000000;
	  display:inline-block;
	  cursor:pointer;
	  color:#ffffff;
	  font-family: 'Lato', sans-serif;
	  font-size:20px;
	  padding:15px 61px;
	  text-decoration:none;
	  text-shadow:0px 1px 2px #000000;
}

.bg-splash {
  position: fixed;
  opacity: 0.25;
  bottom:-40px;
  margin: 0 auto;
  z-index: -1;  
}

@media screen and (max-width: 700px) {
  #character-select,
  #game-container {
    max-width: 450px;
    grid-gap: 5px;
  }

  #player-character,
#opponent-character {
    max-width: 150px;
    grid-template-rows: 30px 150px;
}

}
