/* font-family: 'Lato', sans-serif; */

.char-image {
    max-width: 200px;
}

#character-select {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px auto auto;
    justify-content: space-around;
    align-content: center;    
}

.select-header {
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1.2em;
}


@media screen and (max-width: 700px) {
    .char-image {
        width: 150px;
    }

    .select-header {
        font-size: 60%;
        font-weight: bold;
    }

    #character-select {
        max-width: 450px;
        grid-gap: 5px;
    }
}
